{% extends "catalog/base.html" %}
{% block content %}
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Миссия и ценности</h5>
      <p class="card-text fst-italic">Это более широкая карточка с вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="fs-2 fw-semibold text-decoration-underline">Наши доктора</h5>
      <div class="col">
          <div class="list-group">
              {% for doctor in object_list %}
              <a href="{% url 'catalog:doctor_detail' doctor.pk %}" class="list-group-item list-group-item-action list-group-item-success">
                  {{ doctor.first_name }} {{ doctor.middle_name }} {{ doctor.last_name }}
              </a>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">История компании</h5>
      <p class="card-text fst-italic">Это более широкая карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Эта карточка имеет даже более длинный контент, чем первая, чтобы показать действие одинаковой высоты.</p>
      <p class="card-text"><small class="text-body-secondary">Последнее обновление 3 мин. назад</small></p>
    </div>
  </div>
</div>


{% endblock %}