{% extends "catalog/base.html" %}
{% block content %}
    <div class="row mt-5 mx-auto p-2">
        <div class="col-1"></div>
            <div class="row row-cols-1 row-cols-md-2 g-4">

                  <div class="col">
                    <div class="list-group">
                        {% for service in object_list %}
                        <a href="{% url 'catalog:service_detail' service.pk %}" class="list-group-item list-group-item-action list-group-item-success">
                            {{ service.name }}
                        </a>
                        {% endfor %}
                    </div>
                  </div>

            </div>
        <div class="col-1"></div>

    </div>
<div class="row mt-5 mx-auto p-2">
    <form class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Имя пользователя</label>
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Напишите свой вопрос">
        </div>
      </div>
       <div class="col-12">
        <button type="submit" class="btn btn-success">Отправить</button>
      </div>
    </form>
</div>


{% endblock %}