{% extends "catalog/base.html" %}
{% block content %}
<div class="card text-center border-success">
  <div class="card-header">
    Диагностичекая услуга
  </div>
  <div class="card-body text-success">
    <h5 class="card-title">{{ object.name }}</h5>
    <p class="card-text">Описание: {{ object.description }}</p>
    <p class="card-text">Цена: {{ object.price }}</p>
    <p class="card-text">Доктор: {{ object.doctor }}</p>
    <a class="btn btn-outline-success" href="{% url 'catalog:doctor_detail' service.pk %}" role="button">Информация о докторе</a>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-success" href="{% url 'catalog:makeanappointment_create' %}" role="button">Записаться</a>
    {% endif %}
  </div>
</div>

{% endblock %}